<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oauth.sh.sqlmap.mybatis.mapper.ClientTokenMapper" >
  <resultMap id="BaseResultMap" type="com.oauth.sh.sqlmap.mybatis.model.ClientToken" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="token_id" property="tokenId" jdbcType="VARCHAR" />
    <result column="authentication_id" property="authenticationId" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="client_id" property="clientId" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.oauth.sh.sqlmap.mybatis.model.ClientToken" extends="BaseResultMap" >
    <result column="token" property="token" jdbcType="LONGVARBINARY" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, token_id, authentication_id, user_name, client_id
  </sql>
  <sql id="Blob_Column_List" >
    token
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.oauth.sh.sqlmap.mybatis.model.ClientTokenExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from oauth_client_token
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.oauth.sh.sqlmap.mybatis.model.ClientTokenExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from oauth_client_token
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from oauth_client_token
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from oauth_client_token
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.oauth.sh.sqlmap.mybatis.model.ClientTokenExample" >
    delete from oauth_client_token
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.oauth.sh.sqlmap.mybatis.model.ClientToken" >
    insert into oauth_client_token (id, token_id, authentication_id, 
      user_name, client_id, token
      )
    values (#{id,jdbcType=INTEGER}, #{tokenId,jdbcType=VARCHAR}, #{authenticationId,jdbcType=VARCHAR}, 
      #{userName,jdbcType=VARCHAR}, #{clientId,jdbcType=VARCHAR}, #{token,jdbcType=LONGVARBINARY}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.oauth.sh.sqlmap.mybatis.model.ClientToken" >
    insert into oauth_client_token
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="tokenId != null" >
        token_id,
      </if>
      <if test="authenticationId != null" >
        authentication_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="clientId != null" >
        client_id,
      </if>
      <if test="token != null" >
        token,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="tokenId != null" >
        #{tokenId,jdbcType=VARCHAR},
      </if>
      <if test="authenticationId != null" >
        #{authenticationId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="clientId != null" >
        #{clientId,jdbcType=VARCHAR},
      </if>
      <if test="token != null" >
        #{token,jdbcType=LONGVARBINARY},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.oauth.sh.sqlmap.mybatis.model.ClientTokenExample" resultType="java.lang.Integer" >
    select count(*) from oauth_client_token
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update oauth_client_token
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.tokenId != null" >
        token_id = #{record.tokenId,jdbcType=VARCHAR},
      </if>
      <if test="record.authenticationId != null" >
        authentication_id = #{record.authenticationId,jdbcType=VARCHAR},
      </if>
      <if test="record.userName != null" >
        user_name = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.clientId != null" >
        client_id = #{record.clientId,jdbcType=VARCHAR},
      </if>
      <if test="record.token != null" >
        token = #{record.token,jdbcType=LONGVARBINARY},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update oauth_client_token
    set id = #{record.id,jdbcType=INTEGER},
      token_id = #{record.tokenId,jdbcType=VARCHAR},
      authentication_id = #{record.authenticationId,jdbcType=VARCHAR},
      user_name = #{record.userName,jdbcType=VARCHAR},
      client_id = #{record.clientId,jdbcType=VARCHAR},
      token = #{record.token,jdbcType=LONGVARBINARY}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update oauth_client_token
    set id = #{record.id,jdbcType=INTEGER},
      token_id = #{record.tokenId,jdbcType=VARCHAR},
      authentication_id = #{record.authenticationId,jdbcType=VARCHAR},
      user_name = #{record.userName,jdbcType=VARCHAR},
      client_id = #{record.clientId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.oauth.sh.sqlmap.mybatis.model.ClientToken" >
    update oauth_client_token
    <set >
      <if test="tokenId != null" >
        token_id = #{tokenId,jdbcType=VARCHAR},
      </if>
      <if test="authenticationId != null" >
        authentication_id = #{authenticationId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="clientId != null" >
        client_id = #{clientId,jdbcType=VARCHAR},
      </if>
      <if test="token != null" >
        token = #{token,jdbcType=LONGVARBINARY},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.oauth.sh.sqlmap.mybatis.model.ClientToken" >
    update oauth_client_token
    set token_id = #{tokenId,jdbcType=VARCHAR},
      authentication_id = #{authenticationId,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      client_id = #{clientId,jdbcType=VARCHAR},
      token = #{token,jdbcType=LONGVARBINARY}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.oauth.sh.sqlmap.mybatis.model.ClientToken" >
    update oauth_client_token
    set token_id = #{tokenId,jdbcType=VARCHAR},
      authentication_id = #{authenticationId,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      client_id = #{clientId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>