<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop" 
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
      http://www.springframework.org/schema/aop
      http://www.springframework.org/schema/aop/spring-aop-3.0.xsd" default-autowire="byName">
    
    <bean id="accessConfirmationController" class="com.iqiyi.oauth2.server.web.AccessConfirmationController">
		<property name="clientDetailsService" ref="clientDetails" />
	</bean>
    
	<bean id="photoService" class="com.iqiyi.oauth2.server.service.impl.PhotoServiceImpl">
		<property name="photos">
			<list>
				<bean class="com.iqiyi.oauth2.server.pojo.PhotoInfo">
					<property name="id" value="1" />
					<property name="name" value="photo1.jpg" />
					<property name="userId" value="marissa" />
					<property name="resourceURL" value="/com/iqiyi/oauth2/server/service/impl/resources/photo1.jpg" />
				</bean>
				<bean class="com.iqiyi.oauth2.server.pojo.PhotoInfo">
					<property name="id" value="2" />
					<property name="name" value="photo2.jpg" />
					<property name="userId" value="paul" />
					<property name="resourceURL" value="/com/iqiyi/oauth2/server/service/impl/resources/photo2.jpg" />
				</bean>
				<bean class="com.iqiyi.oauth2.server.pojo.PhotoInfo">
					<property name="id" value="3" />
					<property name="name" value="photo3.jpg" />
					<property name="userId" value="marissa" />
					<property name="resourceURL" value="/com/iqiyi/oauth2/server/service/impl/resources/photo3.jpg" />
				</bean>
				<bean class="com.iqiyi.oauth2.server.pojo.PhotoInfo">
					<property name="id" value="4" />
					<property name="name" value="photo4.jpg" />
					<property name="userId" value="paul" />
					<property name="resourceURL" value="/com/iqiyi/oauth2/server/service/impl/resources/photo4.jpg" />
				</bean>
				<bean class="com.iqiyi.oauth2.server.pojo.PhotoInfo">
					<property name="id" value="5" />
					<property name="name" value="photo5.jpg" />
					<property name="userId" value="marissa" />
					<property name="resourceURL" value="/com/iqiyi/oauth2/server/service/impl/resources/photo5.jpg" />
				</bean>
				<bean class="com.iqiyi.oauth2.server.pojo.PhotoInfo">
					<property name="id" value="6" />
					<property name="name" value="photo6.jpg" />
					<property name="userId" value="paul" />
					<property name="resourceURL" value="/com/iqiyi/oauth2/server/service/impl/resources/photo6.jpg" />
				</bean>
			</list>
		</property>
	</bean>
	
	<!--配置持久模型层 -->
	<bean id="clientDao" class="com.iqiyi.oauth2.server.dao.impl.ClientDaoImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	<bean id="usersDao" class="com.iqiyi.oauth2.server.dao.impl.UsersDaoImpl">
		<property name="sqlMapClient" ref="psSqlMapClient" />
	</bean>
	
	<!--配置业务模型层 -->
    <bean id="myUserDetailsService"
    	class="com.iqiyi.oauth2.server.oauth.MyUserDetailsServiceImpl">
    	<property name="usersDao" ref="usersDao"></property>
    </bean>
	
</beans>