<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
      http://www.springframework.org/schema/aop
      http://www.springframework.org/schema/aop/spring-aop-3.0.xsd"
	default-autowire="byName">

	<!--切面BEAN(数据源切换)-->   
    <bean id="dataSourceAdvice" class="com.iqiyi.oauth2.dbrw.spilitting.DataSourceAdvice"/>
    
    <!--配置AOP监控 -->   
    <aop:config>   
       <aop:advisor pointcut="execution(* com.iqiyi.oauth2.server.service..*.*(..))" advice-ref="dataSourceAdvice"/>
    </aop:config>

	<!--配置事务管理器-->   
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">   
        <property name="dataSource">   
            <ref bean="dataSource" />   
        </property>   
    </bean>
    <!--启动spring注解功能-->
    <tx:annotation-driven transaction-manager="transactionManager" />
    <!--配置事务控制特性-->   
    <tx:advice id="txAdvice" transaction-manager="transactionManager">   
        <tx:attributes>   
           <!--对数据UPDATE操作支持事务-->   
           <tx:method name="add*" propagation="REQUIRED" rollback-for="Exception"/>   
           <tx:method name="insert*" propagation="REQUIRED" rollback-for="Exception"/>   
           <tx:method name="create*" propagation="REQUIRED" rollback-for="Exception"/>   
           <tx:method name="save*" propagation="REQUIRED" rollback-for="Exception"/>   
           <tx:method name="del*" propagation="REQUIRED" rollback-for="Exception"/>   
           <tx:method name="edit*" propagation="REQUIRED" rollback-for="Exception"/>   
           <tx:method name="modeify*" propagation="REQUIRED" rollback-for="Exception"/>   
           <tx:method name="update*" propagation="REQUIRED" rollback-for="Exception"/>
           <tx:method name="match*" propagation="REQUIRED" rollback-for="Exception"/>
           <tx:method name="unbind*" propagation="REQUIRED" rollback-for="Exception"/>
           <tx:method name="upload*" propagation="REQUIRED" rollback-for="Exception"/>
           <!--对其他方法只支持只读事务-->   
            <tx:method name="*" propagation="SUPPORTS" read-only="true"/>   
        </tx:attributes>   
    </tx:advice>
    <!--配置Service事务支持-->   
    <aop:config>   
       <aop:advisor pointcut="execution(* com.iqiyi.oauth2.server.service..*Service.*(..))" advice-ref="txAdvice"/>   
    </aop:config>

	<!-- OAuth2.0 Token 事务控制 -->

</beans>